.wrapper {
    display: flex;
    flex-direction: column;
    width: 66%;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
}

.spinner {
    position: absolute;
    left: 50%;
}